@import '../../../styles/main';

.btnContainer {
  @include flex;
  min-height: 48px;
  button {
    &.hidden {
      display: none;
    }
  }
}

.primary {
  @include primary-button;
  min-height: 48px;
}

.secondary {
  @include secondary-button;
}

.tertiary {
  @include tertiary-button;
}

.quarternary {
  @include quarternary-button;
}
