@import '../../../styles/main';

.quizQuestionsWrapper {
  margin-top: 253px;
  width: 70%;
  // padding: 187px 150px 100px 150px;
  background-color: $white;
  border-radius: 10px 8px 10px 10px;
  margin: 254px auto 140px;
  max-width: 1187px;

  .statusBar {
    width: 100%;
    background-color: rgba(246, 199, 67, 0.3);
    height: 8px;
    position: relative;
    border-radius: 10px 10px 0 0;

    .progress {
      position: absolute;
      height: 8px;
      background-color: rgba(246, 199, 67, 1);
      border-radius: 10px 0 0 0;
    }
  }
  .questions {
    padding: 187px 150px 100px 150px;
    text-align: center;

    p {
      text-align: center;
      color: #000;
      margin-bottom: 34px;
    }

    span {
      @include caption-center;
      line-height: 16px;
      vertical-align: text-top;
    }

    input {
      margin-bottom: 100px;
    }

    input[type='radio'] {
      display: inline-block;
      min-width: 48px;
    }

    .inactive {
      opacity: 0.5;
    }
  }
}

// https://codepen.io/halvves/pen/QWbWGGb
