// Colors
$primary: #e8b529;
$secondary: #f6c743;
$white: #fff;
$smoke-white: rgba(255, 255, 255, 0.4);

// Dark/Grey
$dark: #121c27;
$grey: #888;
$border-grey: #e7e7e7;
$inactive-grey: #bdbdbd;
$light-grey: #f7f7f7;
$very-light-grey: #fdfdfd;
$modal-background: rgba(0, 0, 0, 0.54);

// State
$error: #ff7979;
$success: #a2ffd4;
