// COLUMN SPACING
$grid-columns: 12; // total columns (no gutter)
$col: 100% / $grid-columns; // single column width (percentage)
$column: $col;

%flex {
  display: flex;
}

@mixin flex {
  @extend %flex;
}

@mixin flex-1 {
  @extend %flex;
  flex: 1;
}

@mixin col {
  display: flex;
  flex: 1;
  flex-direction: column;
}

@mixin col-no-flex {
  @extend %flex;
  flex-direction: column;
}

@mixin row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

@mixin row-no-flex {
  @extend %flex;
  flex-direction: row;
}

@mixin position-center {
  align-items: center;
  justify-content: center;
}

@mixin position-right {
  @extend %flex;
  flex: 1;
  justify-content: flex-end;
  margin: 16px 16px 0 0;
}

@mixin position-bottom {
  bottom: 0;
  margin-bottom: 16px;
  position: absolute;
}

@mixin wrap {
  flex-wrap: wrap;
  overflow: auto;
}

@mixin no-wrap {
  overflow: visible;
  white-space: nowrap;
}

//  Fixed Positions

%fixed {
  position: fixed;
}

@mixin fix-position-bottom {
  @extend %fixed;
  bottom: 0;
}
