%button {
  @extend %text-base;
  @include button-primary-elevation-flat;
  @include circular-radius; // @include circular-radius;
  @include cursor-pointer;
  @include padding(left right, 2);
  @include padding(top bottom, 0);
  @include transition-in-out;

  align-items: center;
  background-color: $secondary;
  border: 0;
  color: $white;
  display: flex;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 8px auto;
  outline: 0;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $screen-sm-min) {
    @include padding(left right, 3);
    @include padding(top bottom, 0);

    font-size: 14px;
  }

  &:hover {
    @include button-primary-elevation-raised;
    @include transition-in-out;

    transform: scaleX(1.01);
  }

  i {
    @include padding(top left bottom, reset);
    color: $white;
  }

  &:focus {
    outline: $secondary none 2px;
  }

  &:disabled {
    background-color: $border-grey;
    border: 0;
    box-shadow: none !important;
    color: $white;
    cursor: not-allowed;
    opacity: 1 !important;
    transform: none !important;
    transition: initial !important;
  }
}

@mixin primary-button {
  @extend %button;
}

@mixin secondary-button {
  @extend %button;
  @include button-secondary-elevation-flat;
  background-color: $white;
  border: 2px solid $primary;
  color: $primary;

  &:hover {
    @include button-secondary-elevation-raised;
    background-color: $primary;
    color: $white;
  }

  i {
    color: $primary;
  }
}

@mixin tertiary-button {
  @extend %button;
  background-color: inherit;
  border: 2px solid $grey;
  box-shadow: none;
  color: $grey;

  &:hover {
    @include opacity(1.2);
    box-shadow: none;
  }

  i {
    color: $primary;
  }
}

@mixin quarternary-button {
  @include cursor-pointer;
  @include small;
  @include padding(left right, 0);
  background-color: inherit;
  border: 0;
  box-shadow: none;
  color: $primary;
  outline: 0;

  &:hover {
    text-decoration: underline;
  }
}
