@import 'variables';

html,
body {
  background-color: $white;
  display: flex;
  margin: 0;
}

::selection {
  background: transparentize($primary, 0.7);
}

::-moz-selection {
  background: transparentize($primary, 0.7);
}
