@import '../../../styles/main';

.header {
  &__logo {
    @include padding(all, 1);
    @include opacity(1);
    max-width: 80px; // default logo width: 140px;
    position: absolute;
    top: 0;
    z-index: 1;

    @media (min-width: $screen-sm-min) {
      @include padding(all, 2);
      max-width: 98px; // default logo width: 140px;
    }

    &:hover {
      @include opacity(1.2);
    }
  }
}
