@import '../../../styles/main';

.productContent {
  @include col;
  min-height: 500px;

  @media (min-width: $screen-sm-min) {
    @include row;
    width: 70%;
    margin: 0 auto;
  }

  .left,
  .right {
    width: 50%;
    @include col;
    padding: 80px 60px;
    text-align: center;

    @media (max-width: $screen-sm-min) {
      @include col;
      width: 100%;
      padding: 40px 16px 32px;
    }
  }

  .left {
    .intro,
    .description {
      margin-bottom: 65px;
      h3 {
        font-size: 19px;
        text-align: left;
      }
      p {
        font-size: 16px;
        margin-top: 15px;
      }
    }
  }

  .right {
    @media (max-width: $screen-sm-min) {
      padding-top: 0px;
    }

    .graph {
      height: 200px;
      width: 200px;
      border: 1px solid #000;
      border-radius: 100%;
      margin: auto auto 100px;
    }
    .tipsBlock {
      background-color: $white;
      border: 2px solid #f8f8f8;
      border-radius: 10px;
      padding: 40px;

      .label {
        color: #a5a5a5;
        font-size: 12px;
        margin-bottom: 10px;
      }
      .description {
        color: #000;
        font-size: 16px;
      }
    }
    .newUser {
      @include padding(all, 2);
      background-color: $white;
      border: 2px solid #f8f8f8;
      border-radius: 10px;
      margin-bottom: 32px;

      @media (min-width: $screen-sm-min) {
        @include padding(all, 3);
      }

      &_img {
        max-width: 100%;
        max-height: 200px;
      }

      &_title {
        @include padding(top, 1);
        font-size: 28px;
        text-align: left;
      }

      p {
        @include padding(bottom, 2);
      }
    }
  }
}
