@import '../../../styles/main';

.hero {
  @include col;

  &__header {
    @include background-image;
    @include col;
    @include padding(top, 6);
    @include padding(left right, reset);
    @include padding(bottom, 5);

    &_bg {
      max-width: 720px;

      @media (min-width: $screen-sm-min) {
        @include padding(bottom, 5);
      }

      @media (min-width: $screen-sm-min) {
        @include center-block(horizontal);
      }
    }

    h1,
    p {
      color: $white;
    }

    h1 {
      @include padding(all, 0);
      @include padding(top, reset);
    }

    p {
      @include padding(top bottom, 2);
      @include padding(left right, 0);
      font-size: 20px;
      text-align: center;

      @media (min-width: $screen-sm-min) {
        @include padding(top, 0);
        @include padding(bottom, 4);
      }
    }

    &_cta {
      @include circular-radius;
      @include button-primary-elevation-flat;
      background-color: $secondary;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      height: 64px;
      align-items: center;
      max-width: 220px;
      outline: 0;
      cursor: pointer;

      &:hover {
        @include button-primary-elevation-raised;

        transform: translateY(-2px);
      }

      p {
        @include padding(top bottom, reset);
        @include padding(left, 1);
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 3px;
      }
    }

    i {
      color: $white;
      margin-top: 1px;
    }

    .icon-container {
      display: flex;
    }
  }

  &__featuredBlocks {
    @include padding(top, 3);
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (min-width: $screen-md-min) {
      flex-direction: row;
    }

    &_container {
      @include corner-radius;
      padding: 16px 24px 32px;
      margin: 0 12px;
      min-width: 240px;
      text-align: center;
      font-size: 16px;
      // height: 204px;

      @media (max-width: $screen-sm-min) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        flex: 0 0 100%;
        min-width: 264px;
        max-width: 320px;
        margin-bottom: 10px;
        padding: 15px;
        background-color: $white;
        border-radius: 10px;
        position: relative;
        z-index: 1;
      }
    }

    &_img {
      max-width: 160px;

      @media (max-width: $screen-sm-min) {
        max-width: 80px;
      }
    }

    &_text {
      display: flex;
      flex-direction: column;
      text-align: left;
    }

    h5 {
      text-align: left;
      font-size: 11px;
      font-weight: bold;

      @media (min-width: $screen-md-min) {
        text-align: center;
        font-size: 14px;
      }
    }

    p {
      @include small;
      text-align: left;
      opacity: 0.6;

      @media (min-width: $screen-md-min) {
        text-align: center;
      }
    }
  }

  &__small {
    @include small;
    @include padding(top, 1);
    @include padding(bottom, 3);
    color: $secondary;
  }
}

iframe {
  @include margin(bottom, 5);
  border-bottom: 3200px solid $white;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
