@import '../../../styles/main';

.hero {
  @include background-image;
  @include col;
  @include padding(top, 6);
  @include padding(left right, reset);
  @include padding(bottom, 4);
  position: relative;
  height: 300px;

  @media (min-width: $screen-sm-min) {
    @include padding(bottom, 5);
  }

  &__featuredBlocks {
    position: absolute;
    width: 100%;
    display: flex;
    bottom: -102px;
    justify-content: center;

    @media (max-width: $screen-sm-min) {
      display: none;
    }

    &_block {
      @include card-base;
      @include corner-radius;
      @include card-elevation;
      background-color: $white;
      font-size: 16px;
      margin: 0 12px;
      max-width: 210px;
      padding: 105px 50px;
      cursor: default;
      text-align: center;
      width: 100%;
      // height: 204px;
    }
  }

  &__header {
    @include col;
    color: $white;
    max-width: 720px;

    @media (min-width: $screen-sm-min) {
      @include center-block(horizontal);
    }

    h1,
    p {
      color: $white;
    }

    h1 {
      @include padding(all, 0);
      @include padding(top, reset);
    }

    p {
      @include padding(top bottom, 2);
      @include padding(left right, 0);
      font-size: 16px;
      text-align: center;

      @media (min-width: $screen-sm-min) {
        @include padding(top, 0);
        @include padding(bottom, 4);
      }
    }
  }

  &__small {
    @include small;
    @include padding(top, 1);
    @include padding(bottom, 3);
    color: $secondary;
  }
}

iframe {
  @include margin(bottom, 5);
  border-bottom: 3200px solid $white;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
